<div class="nav">
   <strong>
  Productr
  </strong>
</div>
<p id="notice"><%= notice %></p>

<head>
  <%= stylesheet_link_tag 'show.css' %>
</head>



<div class="container">
  <div class="product">
<% if @product.picture.attached? %>
 <%= image_tag @product.picture, alt: @product.title %>
   <% else %> 
 <%= image_tag "https://placekitten.com/400/400", alt: @listing.title %>
  <% end %>

  <p class="title">
    <strong>
    <%= @product.title %>
    </strong>
  </p>

  <p class="description">
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

    <% if current_user.id == @product.user_id %>
  <%= link_to 'Edit', edit_product_path(@product) %><% end %>
<%= link_to 'Back', products_path %>
</div>
  <div class="prices">
  <p class="price">
    <strong>$
    <%= @product.price %>
    </strong>
  </p>
  <%= button_to "Buy Now", place_order_path %>
</div>

</div>


<div class="back">

</div>